<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12 title text-center">
        <h2>Featured Blog Posts</h2>
      </div>
    </div>
    <div class="row">
      {%
        assign posts = site.posts
        | where: "featured", true
        | sort: "date"
        | reverse
      %}
      {% for post in posts limit:3 %}
        {% assign date = post.date | date: "%b %-d, %Y" %}
        {%
          include home/blog-tile.html
            title=post.title
            description=post.description
            category=post.categories
            date=date
            image=post.image
            link=post.url
            image_classes=post.image_classes
        %}
      {% endfor %}
    </div>
  </div>
  {% include home/transition-svg.html transparent=true %}
</section>