<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12 title text-center">
        <h2 id="#blog">Featured Blog Posts</h2>
      </div>
    </div>
    <div class="row">
      {%
        include home/blog-tile.html
          title="DIY Sonos: Turn Your Raspberry PI into a Home Sound System"
          description="I play all my favorite tracks from Youtube, Spotify and local file storage from one centralized interface. No subscriptions or Bluetooth necessary."
          category="Home Automation"
          date="04 April 2019"
          image="/assets/images/jukebox.png"
          image_classes="transparent-background"
          link="#"
      %}
      {%
        include home/blog-tile.html
          title="PacMan: Free Online Multiplayer"
          description="Inspired by <b>PacMan Battle Royale</b>, I introduce this classic arcade game to the 21st century. Fun for the whole family!"
          category="Gaming"
          date="27 January 2019"
          image="/assets/images/pacman.jpg"
          link="#"
      %}
      {%
        include home/blog-tile.html
          title="Yelp's Secret Detector: Preventing Secrets in Source Code"
          description='We open source our <a href="https://github.com/Yelp/detect-secrets">detect-secrets</a> framework: a tool designed to keep secrets out of enterprise codebases.'
          category="Security"
          date="11 June 2018"
          image="/assets/images/yelp.png"
          link="https://engineeringblog.yelp.com/2018/06/yelps-secret-detector.html"
      %}
    </div>
  </div>
</section>