@import "modules/animations";
@import "modules/colors";
@import "modules/layout";
@import "modules/overlay";

#splash-page {
    background: url("../images/home/splash-page.jpg") no-repeat top scroll;
    @include dark-overlay(0.8);
    @include respond-to(small) {
        //  We need to set this, because section is set to `fit-content`
        //  by default for small screens.
        height: 109%;
    }
    @include respond-to(medium, portrait) {
        height: 105%;
    }
    @include respond-to(medium, landscape) {
        height: 115%;
    }
    @include respond-to(large, landscape) {
        height: 107%;
    }

    .banner {
        width: 90%;
        height: fit-content;
        @include centerVerticalAndHorizontal();

        top: -6%;
    }

    .banner .title {
        width: fit-content;
        margin: auto;

        h3 {
            color: $white;

            @include respond-to(small, portrait) {
                font-size: 1.3rem;
            }
        }
    }

    .banner h1 {
        display: inline;

        color: $white;
        font-weight: 700;
        font-size: 2.6rem;

        @include respond-to(small, portrait) {
            font-size: 1.5rem;
        }
        @include respond-to(large) {
            font-size: 5rem;
        }
        @include respond-to(large, landscape) {
            font-size: 4.2rem;
        }
        

        //  This is *essential* so the words don't break and produce jerky animations.
        white-space: nowrap;
    }
}

#splash-page .banner .carousel {
    width: 100%;

    .carousel-indicators {
        bottom: -150%;

        @include respond-to(small, portrait) {
            bottom: -200%;
        }
        @include respond-to(null, landscape) {
            bottom: -100%;
        }
    }

    .carousel-item-wrapper {
        height: 103px;
        display: inline-block;

        position: relative;

        overflow: hidden;

        @include respond-to(small, portrait) {
            height: 28px;
        }
        @include respond-to(medium, portrait) {
            height: 50px;
        }
        @include respond-to(medium, landscape) {
            height: 54px;
            margin-top: 6px;
        }
        @include respond-to(large, landscape) {
            height: 89px;
        }
    }

    //  Display the line to look as if it was being typed.
    .carousel-item-wrapper:after {
        width: 2px;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;

        content: "";
        background-color: $white;

        @include animation(cd-pulse 2s infinite);

        @include respond-to(small, portrait) {
            right: 8px;
        }
    }
}

#splash-page .btn-wrapper {
    $buttonSize: 60px;

    width: $buttonSize;
    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;

    a {
        width: $buttonSize;
        height: $buttonSize;
        padding: 14px 0;
        border-color: $white;
    }

    a:hover {
        color: $white;
        background: rgba(255, 255, 255, 0.1);
    }

    a:hover i{
        @include animation(pulse 1s infinite);
    }

    a i {
        margin-left: -2px;
        font-size: 1.8rem;
    }
}

//  Source: https://github.com/CodyHouse/animated-headline
@include keyframes(cd-pulse) {
    0% {
        @include transform(scale(0.8));
        opacity: 0.6;
    }

    50% {
        @include transform(scale(0.75));
        opacity: 0.2;
    }

    100% {
        @include transform(scale(0.8));
        opacity: 0.6;
    }
}