@import "modules/colors";

section.about {
    .container {
        height: 100%;
    }

    .svg svg {
        fill: $backgroundDarkest;
    }
}

section.about .title-container {
    height: 21%;

    .title {
        margin-top: 3%;
        margin-bottom: 4%;
    }
}

section.about .info-wrapper {
    height: 65%;

    .photo-border {
        height: 74%;
        position: relative;
    
        border-radius: 5px;
        box-shadow: 0 0 0 2px $backgroundNormal inset;

        .photo-wrapper {
            position: relative;

            transform: translateY(24px) translateX(24px);
        }

        .badge-image {
            width: 30%;

            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .badge-image::before {
            width: 100%;
            height: 100%;

            position: absolute;
            background-color: rgba($backgroundNormal, 0.2);

            content: "";
        }
    }

    .info {
        h3.name {
            margin-bottom: 3px;
        }

        .tagline {
            margin-bottom: 1.5ex;

            color: $backgroundLightest;
            font-size: 14px;
        }

        .blurb {
            line-height: 3.6ex;
            margin-bottom: 3.6ex;
        }

        .blurb b {
            color: $peach;
        }
    }
}

section.about .info-wrapper .progress-bar-wrapper {
    $progressColor: $blueLightest;
    $transitionTime: 0.4s;

    margin-bottom: 22px;

    .title-wrapper {
        width: fit-content;
        position: relative;

        .title {
            margin-bottom: 2px;

            color: $white;
            font-size: 14px;
        }

        .title b {
            color: $peach;
        }

        a {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
        }
    }

    .progress {
        height: 6px;

        background-color: $backgroundNormal;
    }

    .progress-bar {
        width: 0%;  //  need to set width, so transition would work

        background-color: $backgroundNormal;
        // background-image: linear-gradient(to right, rgba($peach, 0.2), $peach);
        background-image: linear-gradient(to right, rgba($progressColor, 0.2), rgba($progressColor, 0.7));
        border-radius: 10px;

        transition: width $transitionTime linear;
    }

    .segments-wrapper {
        position: relative;
    }

    .segments-wrapper .segments {
        width: 100%;

        position: absolute;
        top: -2px;
    }

    .segments-wrapper .segments .segment {
        $size: 10px;

        width: $size;
        height: $size;

        position: absolute;

        content: "";
        background-color: $backgroundLighter;
        border-radius: 50%;

        &.filled {
            background-color: rgba($progressColor, 0.7);
            transition: background-color $transitionTime linear;
        }

        a {
            width: 100%;
            height: 100%;

            position: absolute;
        }
    }
}