@import "modules/colors";

section.blog {
    background: $backgroundDarkest;
}

section.blog .title {
    margin-bottom: 4%;
}

section.blog .item {
    $borderRadius: 13px;

    background-color: $backgroundNormal;
    border: 1px solid $backgroundLighter;
    border-radius: $borderRadius;

    .post-img img {
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }

    .post-img.transparent-background {
        padding: 13px 7px;
    }

    .content {
        padding: 30px;
        padding-top: 20px;
        text-align: left;
    }

    .content .tag {
        margin-bottom: 2px;

        color: $backgroundLightest;
        font-size: 0.75rem;
        letter-spacing: 1px;
    }

    .content h5 {
        margin-bottom: 15px;

        $lineHeight: 2.3ex;
        line-height: $lineHeight;
        height: $lineHeight * 3;
    }

    .content p {
        $lineHeight: 3.1ex;

        font-size: 0.9rem;
        word-spacing: 1px;
        line-height: $lineHeight;
        height: $lineHeight * 5;
    }
}