---
---
@import "modules/colors";

header nav {
    background-color: $backgroundDarkest;
    border-bottom: 1px solid rgba($white, 0.3);
}

main {
    margin-top: 5%;

    line-height: 3.6ex;
    letter-spacing: 0.7px;

    .wrapper {
        padding-top: 2%;
        padding-left: 3%;
        padding-right: 5%;

        background-color: $backgroundNormal;

        border-radius: 10px;
    }

    .wrapper .title {
        margin-bottom: 0;
        font-weight: 700;
    }

    .wrapper .date {
        color: $backgroundLightest;
        font-size: 0.9rem;
    }
}