---
---
@import "modules/colors";
@import "modules/layout";

body {
    height: 91%;

    @include respond-to(small, landscape) {
        //  To get the footer in the right place.
        position: relative;
    }
}

.navbar {
    background-color: $backgroundDarkest;
}

.image-container {
    margin-top: 7%;

    img {
        width: 100%;
        margin: auto;

        @include respond-to(large, landscape) {
            width: 85%;
        }
    }
}

footer {
    width: 100%;

    position: absolute;
    bottom: 0;
}