---
---
@import "modules/colors";

html,
body {
    min-height: 100%;
    width: 100%;
}

//  Override hacker theme
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
}

code.highlighter-rouge {
    color: $peach;
}

@import "partials/footer";
@import "partials/nav";