---
---
@import "modules/animations";
@import "modules/colors";
@import "modules/layout";

html,
body {
    height: 100%;
}

section {
    //  Overheight is needed, so that anchoring works properly with navbar.
    //  https://css-tricks.com/hash-tag-links-padding/
    height: 109%;

    @include respond-to(small) {
        height: fit-content;
    }
    @include respond-to(medium, portrait) {
        height: 70%;
    }

    position: relative;

    margin: 0;

    &:before {
        $height: 55px;

        display: block;
        height: $height;
        margin-top: -$height;

        content: "";
        visibility: hidden;
    }

    .title h2 {
        margin-top: 2%;

        font-weight: 700;
    }

    .title h2:before {
        width: 25%;
        height: 1px;
        margin: auto;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        background: rgba($white, 0.2);
        content: "";
    }

    .title h2::after {
        width: 6%;
        height: 2px;

        position: absolute;
        bottom: 0;
        left: calc(50% - 30px);

        background: rgba(255, 255, 255, 0.6);
        content: "";

        @include respond-to(small, portrait) {
            width: 10%;
            left: calc(50% - 18px);
        }

        @include respond-to(medium, portrait) {
            width: 9%;
        }

        @include respond-to(medium, landscape) {
            left: calc(50% - 18px);
        }

        @include respond-to(large, landscape) {
            left: calc(50% - 22px);
        }
    }
}

a:hover {
    text-decoration: none;
}

//  Decoration to transition to next slide
.svg {
    width: 100%;

    position: absolute;
    bottom: -3px;
    left: 0;

    z-index: 1;

    svg {
        width: 100%;
        height: 150px;
    }
}

@import "partials/home/about";
@import "partials/home/blog";
@import "partials/home/contact";
@import "partials/home/splash";
@import "partials/popover";
@import "partials/progress-bar";

.btn-wrapper.back-to-top {
    $buttonSize: 50px;

    width: $buttonSize;
    height: $buttonSize;

    position: fixed;
    bottom: 30px;
    right: 40px;

    z-index: 2;

    &.hidden {
        @include fadeOut(0.5s);
    }

    &:not(.hidden) {
        @include fadeIn(0.5s);
    }

    $opacity: 0.2;
    $opacityHover: 0.8;

    a {
        width: $buttonSize;
        height: $buttonSize;

        padding: 6px 0;

        border: 2px solid rgba($white, $opacity);
    }

    a:hover {
        color: $white;
        border: 2px solid rgba($white, $opacityHover);
    }

    a:focus {
        box-shadow: unset;
    }

    a:hover i{
        @include animation(pulse 1s infinite);
        opacity: $opacityHover;
    }

    a i {
        font-size: 2rem;
        opacity: $opacity;
    }
}