@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

/**
 * Usage:
 *    @include keyframes(color-change) {
 *        0%   { color: white; }
 *        100% { color: red; }
 *    }
 */
 @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

/**************************
 * Pre-defined animations *
 **************************/
@include keyframes(pulse) {
    50% {
        @include transform(scale(1.1));
    }
}

/**
 * Source: https://fvsch.com/transition-fade/test5.html
 */
@mixin fadeOut($fadeTime) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $fadeTime, opacity $fadeTime linear;
}

@mixin fadeIn($fadeTime) {
    visibility: visible;
    opacity: 1;
    transition: opacity $fadeTime linear;
}