$white: #F8F8F0;

$backgroundLightest:rgb(117, 116, 110);
$backgroundLighter: #49483E;
$backgroundNormal:  #272822;
$backgroundDarker:  #1F201D;
$backgroundDarkest: #151515;

//  This is from the "hacker" theme
$blueLightest: #63c0f5;
$greenLighter: #b5e853;

//  These are derived from the hacker theme
//  https://coolors.co/e58f65-7ca632-d05353-63c0f5-272822
$peach: #d18364;