$white: #F8F8F0;

$backgroundLightest:rgb(117, 116, 110);
$backgroundLighter: #49483E;
$backgroundNormal:  #272822;
$backgroundDarker:  #1F201D;
$backgroundDarkest: #151515;

//  This is from the "hacker" theme
$lightBlue: #63c0f5;