/**
 * Adapted from: http://jesseshowalter.com/articles/css-dark-overlays/
 * @param {float} $opacity: value between 0.0 and 1.0
 */
@mixin dark-overlay($opacity) {
    & {
        position: relative;
        z-index: 1;
    }

    &:after {
        width: 100%;
        height: auto;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        background: rgba(0, 0, 0, $opacity);

        //  So something will show
        content: "";
    }
}