@import "modules/animations";
@import "modules/colors";
@import "modules/layout";
@import "modules/overlay";

#splash-page {
    background: url("../images/home/splash-page.jpg") no-repeat top scroll;
    @include dark-overlay(0.8);

    .banner {
        width: 90%;
        height: fit-content;
        @include centerVerticalAndHorizontal();

        top: -6%;
    }

    .banner .title {
        width: fit-content;
        margin: auto;

        h3 {
            color: $white;
        }
    }

    .banner h1 {
        display: inline;

        color: $white;
        font-weight: 700;
        font-size: 5rem;
        
        //  This is *essential* so the words don't break and produce jerky animations.
        white-space: nowrap;
    }
}

#splash-page .banner .carousel {
    width: 100%;

    .carousel-indicators {
        bottom: -150%;
    }

    .carousel-item-wrapper {
        height: 103px;
        display: inline-block;

        position: relative;

        overflow: hidden;
    }

    //  Display the line to look as if it was being typed.
    .carousel-item-wrapper:after {
        width: 2px;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;

        content: "";
        background-color: $white;

        @include animation(cd-pulse 2s infinite);
    }
}

#splash-page .btn-wrapper {
    $buttonSize: 60px;

    width: $buttonSize;
    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;

    a {
        width: $buttonSize;
        height: $buttonSize;
        padding: 14px 0;
        border-color: $white;
    }

    a:hover {
        color: $white;
        background: rgba(255, 255, 255, 0.1);
    }

    a:hover i{
        @include animation(pulse 1s infinite);
    }

    a i {
        margin-left: -2px;
        font-size: 1.8rem;
    }
}

//  Source: https://github.com/CodyHouse/animated-headline
@include keyframes(cd-pulse) {
    0% {
        @include transform(scale(0.8));
        opacity: 0.6;
    }

    50% {
        @include transform(scale(0.75));
        opacity: 0.2;
    }

    100% {
        @include transform(scale(0.8));
        opacity: 0.6;
    }
}